


<div class="container col-md-6 offset-md-3 mt-5 pt-5 "  >
  <h1> AYBank</h1>
</div>

<div class="container col-md-6 offset-md-3 mt-5 pt-5 back"  >

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a
        class="nav-link active  "
        id="annuityP"
        data-toggle="tab"

        role="tab"
        aria-controls="annuity"
        aria-selected="true"
        (click)=" changeAction($event)"
      >Annuity</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="capitalP"
        data-toggle="tab"

        role="tab"
        aria-controls="capital"
        aria-selected="false"
        (click)=" changeAction($event)">Capital</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         id="durationP"
         data-toggle="tab"

         role="tab"
         aria-controls="duration"
         aria-selected="false"
         (click)=" changeAction($event)">Duration</a>
    </li>
  </ul>
  <div class="card-body ">
<form [formGroup]="creditForm" (ngSubmit)="onSubmit()">
  <div class="form-group row">

    <div *ngIf="action != 'annuityP'">
      <div  class="col-md-offset-3 mb-3 mr-5">
        <span class="font-weight-bold "><label for="annuity" >Annuity</label></span>
      <input
        formControlName="annuity"
        id="annuity"
        class="form-control"
        type="text"/>
      </div>
    </div>
    <div *ngIf="action != 'capitalP'">
      <div class="col-offset-md-3 mb-3 mr-5">
        <span class="font-weight-bold" > <label for="capital" >Capital</label></span>
      <input
        formControlName="capital"
        id ="capital"
        class="form-control"
        type="text"/>
      </div>
    </div>

    <div *ngIf="action != 'durationP'">
      <div class="col-offset-md-3 mb-3 mr-5 ">
        <span class="font-weight-bold " > <label for="duration">Duration</label> </span>
      <input
        formControlName="duration"
        id="duration"
        class="form-control"
        type="text"/>
      </div>
    </div>
    <div class="col-offset-md-3 mb-3 mr-5">


      <div class="form-group">
        <span class="font-weight-bold " > <label for="typeCredit">Credit Type</label> </span>
        <select
          formControlName="typeCredit"
          id="typeCredit"
          class="form-control"
          name="typeCredit"
        >
          <option
            *ngFor="let typeCredit of typeCredits"
            value="{{typeCredit}}">
            {{ typeCredit }}
          </option>


        </select>
      </div>
    </div>

   <span *ngIf="(
    !creditForm.get('duration').valid &&
    !creditForm.get('capital').valid &&
    !creditForm.get('typeCredit').valid)&&
    (creditForm.get('duration').touched &&
    creditForm.get('capital').touched &&
    creditForm.get('typeCredit').touched)
     "
    class="help-block">Please enter a valid Data!</span>
    </div>
<!--            [disabled] = "!creditForm.get(['duration','capital','typeCredit']).valid"-->

<!--    [disabled] = "(
    (creditForm.get('duration').valid && creditForm.get('capital').valid) ||
     (creditForm.get('duration').valid && creditForm.get('annuity').valid) ||
      (creditForm.get('annuity').valid && creditForm.get('capital').valid))
      "-->
    <button type="submit"
            [disabled] = "
      ((creditForm.get('duration').invalid && creditForm.get('capital').invalid)) ||
      ((creditForm.get('duration').invalid && creditForm.get('annuity').invalid))||
      ((creditForm.get('annuity').invalid && creditForm.get('capital').invalid) )"


            class="btn btn-outline-success my-2 my-sm-0 mr-4"
            name="actionMethod"
            value="process"> Process</button>



<!--    <button type="button"-->
<!--            class="btn btn-outline-success my-2 my-sm-0"-->
<!--            name="actionMethod"-->
<!--            value="getCredit">Get Credit</button>-->

  </form>


</div>
</div>

    <div class="row" *ngIf="submitted">
    <div class="container col-md-6 offset-md-3  pt-5 back"  >
      <hr>
      <div class="form-row">
        <div class="form-group col-md-8">
<!--          -->
          <div class="card-header">
            <h4>
              You want to demand a credit ?
            </h4>
          </div>
          <div class="card-body">
<!--            <ul class="list-group ">-->
            <div class="form-row">
              <div class="form-group col-md-6">
              <span class="list-group-item"> <strong>Annuity:</strong> {{this.credit.annuity}}</span>
              </div>
              <div class="form-group col-md-6">
              <span class="list-group-item"> <strong>Capital: </strong> {{this.credit.capital}}</span>
              </div>
                <div class="form-group col-md-6">
              <span class="list-group-item"> <strong>Duration: </strong> {{this.credit.typeCredit}}</span>
                </div>
                  <div class="form-group col-md-6">
              <span class="list-group-item"> <strong>Salary: </strong> {{this.credit.duration}}</span>

                  </div>
            </div>
<!--            </ul>-->
          </div>
<!--          -->

<!--  -->
        </div>
        <div class="form-group col-md-4 " >
        <form [formGroup]="creditDemandForm" (ngSubmit)="onPersistCredit()">

          <div class="form-group ">
            <div class="card-header">
            <h4>Enter your Salary</h4>
            </div>
          </div>
          <div class="card-body">

            <div class="form-row">
              <div class="form-group col-md-4 ">
            <span class="font-weight-bold " > <label for="duration"> Salary</label> </span>
            </div>
              <div class="form-group  col-md-8 ">
            <input
              formControlName="salary"
              id="salary"
              class="form-control"
              type="text"/>
            </div>
            <div class="form-group ">
            <button class="btn btn-outline-success my-2 my-sm-0 mr-4"
            name="getCredit"
            value="process"> Demand Credit</button>
            </div>
          </div>
          </div>

        </form>
          </div>
        </div>

<!--        <p *ngIf="action != 'annuityP'">annuity: {{this.credit.annuity}}</p>-->
<!--        <p *ngIf="action != 'capitalP'">Capital: {{this.credit.capital}}</p>-->
<!--        <p >typeCredit: {{this.credit.typeCredit}}</p>-->
<!--        <p *ngIf="action != 'durationP'">duration: {{this.credit.duration}}</p>-->
      </div>
<!--    </div>-->

  </div>

