<div class="container col-md-8 offset-md-2 mt-5 pt-5 "  >
<h1> Welcome to AYBANK </h1>
<h2 class="mt-4"> we propose credit for you</h2>
<!--<h3 class="mt-4">Real estate loans</h3>-->
<!--<p>-->
<!--are secured by real property – land, buildings, and other structures –-->
<!--and include short-term loans for construction and land development-->
<!--and longer-term loans to finance the purchase of farmland, homes,-->
<!--apartments, commercial structures, and foreign properties.</p>-->
<!--<h3 class="mt-4">Financial institution loans</h3>-->
<!-- <p >include credit to banks, insurance companies, finance companies, and other financial institutions.</p>-->
<!--<h3 class="mt-4">Agricultural loans</h3>-->
<!--<p>are extended to farms and ranches to assist in planting and harvesting crops and-->
<!--supporting the feeding and care of livestock.</p>-->
<!--<h3 class="mt-4">Commercial and industrial loans</h3>-->
<!--<p>are granted to businesses to cover purchasing inventories, paying taxes, and meeting payrolls.</p>-->
<!--<h3 class="mt-4">Loans to individuals</h3>-->
<!--<p>include credit to finance the purchase of automobiles, mobile homes, appliances,-->
<!--  and other retail goods, to repair and modernize homes, and to cover the cost of medical care-->
<!--  and other personal expenses, and are either extended directly to individuals or indirectly through retail dealers.</p>-->
</div>
